:root {
  --white-color: white;
  --black-color: #000;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.subnav {
  z-index: 999;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
} 
.main_content_details-header {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
}
.original_price {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: red;
}
.price_cross {
  text-decoration: line-through;
  font-size: 13px;
  color: rgb(175, 173, 173);
} 
/* slider */
.main_content-slider {
  width: 52rem;
}
.containers {
  margin: 0 auto;
  margin-top: 5rem;
  width: 1200px;
}
.carousel-control-prev-icon, .carousel-control-next-icon  {
  background-color: rgb(15, 16, 17);
  width: 3rem;
  height: 3rem;
}
.carousel-control-prev, .carousel-control-next {
  width: 3rem;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #e9e5de;
}
.carousel-indicators [data-bs-target]:not(:last-child) {
  margin-right: 1.5rem;
}
.carousel-indicators .active {
  background-color: #e9e5de;
}

.content_detial {
  max-width: 100%;
  margin: 0 auto; 
}
h1 {
  color: var(--text-color);
  text-align: center;
  font-size: 2.5rem;
  margin: 1rem;
}
.content_detail-price { 
  display: flex;
  justify-content: center; 
}
.content_detail-price p {
  font-size: 2rem;
}
input[type="radio"] {
  display: none;
}
.main_content-detail {
  margin-top: 5rem;
}
.main_content-detail-info {
  margin-top: 1rem;
}
.main_content-detail {
  margin-top: 2rem;
}

.main_content-add {
  margin-top: 2rem;
}
.main_content-detail-space {
  margin-top: 2rem;
}
label {
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  border: 2px solid rgb(173, 171, 171);
  cursor: pointer;
  transition: 0.5s;
  display: initial;
}
label:hover {
  border: 2px solid var(--black-color) ;
}

input[type="radio"]:checked + label {
  border: 2px solid rgb(63, 63, 236);
  background-color: rgb(182, 204, 243);
  color: rgb(206, 77, 77);
}

.reset_btn {
  color: black;
  margin-top: 4rem;
}
.reset_button {
  margin-top: 3rem;
}
.reset_button input {
  border: none;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}
.reset_button input:hover {
  background-color: rgb(151, 147, 147);
  color: var(--white-color);
}
.button-space {
  margin-right: 4px;
}
#quantity {
  width: 4rem;
  text-align: center;
  min-height: 4rem;
  font-size: 1.5rem;
}

.add_cart1, .add_cart2 {
  padding: 1.2rem 3rem;
  font-size: 1.5rem;
  margin-left: 2rem;
  border-radius: 1rem;
  background-color: rgb(120, 159, 226);
  border: none;
  color: var(--white-color);
  cursor: pointer;
  transition: 0.5s;
}
.add_cart1:hover {
  background-color: #2A8DE0 ;
}
.add_cart2 {
  background-color: #D8D828;
}
.add_cart2:hover {
  background-color: #BEBC17 ;
}
.button-space-circle {
  margin-right: 1rem;
  border-radius: 50%;
  border: 3px solid white;
  background-color: #535638 ;
}
input[type="radio"]:checked + .button-space-circle {
  box-shadow: 0 0 0 2px #2971e3 !important;
  border: 2px solid white !important;
}
.main_content-sale-des {
  margin-top: 3rem;
  border: 1px solid #d1cece;
  border-radius: 7px;
  color: #424040;
}
.main_content-sale-header {
  background-color: #e9e8e8;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 1rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.main_content-sale-info {
  padding: 1rem;
  font-size: 1.7rem;
}
.main_content-sale-detail {
  padding: 0 0 1rem 4rem;
  font-size: 1.5rem;
}
.main_content-sale-detail ul li:not(:last-child) { 
  margin-bottom: 1rem;
}
.main_content-other {
  margin: 5rem 0;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
}
.main_content-other-list ul li{
  list-style-type: none;
}
/* .main_content-other-list {
  margin-top: 2rem;
} */
.main_content-other-header {
  padding: 1rem 0 1rem 2rem;
  font-size: 2rem;
  font-weight: bold;
}
.main_content-other-item {
  width: 26rem;   
  margin-left: 15px;
}
.main_content-other-image {
  position: relative;
  width: 100%;
  height: 27rem;
}
.main_content-other-image img {
  width: 100%;
  height: 100%;
}
.main_content-other-item_detail {
  margin-top: 1rem;
  color: var(--text-color);
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}
.sale_price {
  padding: 0.7rem;
  top: 0rem;
  left: 1rem;
  font-size: 1.3rem;
  border: 1px solid #424242;
  border-radius: 1rem;
  box-shadow: 1px 3px 5px #888888;
  border: none;
  color: var(--white-color);
  background-image: linear-gradient(#f30c00 ,#eb5951);
  position: absolute;
}

.price-update {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.price-update-detail {
  text-decoration: line-through;
  color: #7e7a7a;
}
.main_content-sale-store {
  margin-top: 2rem;
}
#store {
  width: 100%;
  height: 3rem;
  font-size: 1.6rem;
  border: 1px solid #9e9a9a;
}
.main_content-store-available {
  margin-top: 2rem;
}
.main_content-store-phone-detail {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.main_content-address {
  margin-top: 1rem;
}
.main-content-store-avalable-phone {
  padding: 1.5rem 1.5rem 0;
  border-radius: 4px;
  border: 2px solid #e3e3e3;
}
.bottom-line {
  border-bottom: 2px solid #c4c1c1;
  margin-top: 1.5rem;
}
/* table */ 
 table {
  border-collapse: collapse;
  width: 90%;
  font-size: 1.5rem;
}
.watch_feature td, th {
      font-weight: normal;
      border: 1px solid #dddddd !important;
      text-align: left;
      padding: 1rem;
}
.watch_feature2 {
  margin-top: 2rem;
}
.watch_table {
  margin-top: 1rem;
}
